﻿@model TerabyteApp.Core.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerViewModel</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>


            @Html.DisplayNameFor(model => model.customer.Name)
            @Html.DisplayFor(model => model.customer.Name)
        <br />
        @Html.DisplayNameFor(model => model.customer.Surname)
        @Html.DisplayFor(model => model.customer.Surname)
    <br />
        @Html.DisplayNameFor(model => model.customer.Telephone)
        @Html.DisplayFor(model => model.customer.Telephone)

</div>

<h2>Devices</h2>
<table class="table">

    @foreach (var item in Model.devices)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SnNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

</table>